<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>
		<form data-th-action="@{/login}" data-th-object="${login}" method="post">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input type="text" id="username" size="30" data-th-field="*{username}"
								placeholder="Please type in your username" >
					</td>
					<td>
						<div data-th-if="${#fields.hasErrors('username')}">
							<span data-th-errors="*{username}" data-th-errorclass="error"
									style="color: red;"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" id="password" size="30" data-th-field="*{password}"
								placeholder="Please type in your password">
					</td>
					<td>
						<div data-th-if="${#fields.hasErrors('password')}">
							<span data-th-errors="*{password}" data-th-errorclass="error"
									style="color: red;"></span>
						</div>
					</td>
				</tr>
				<div data-th-if="${login.isCaptchaShown}">
					<!-- <tr data-th-object="${login.captcha}"> -->
					<tr>
						<td>What is
							<span data-th-text="${login.captcha.num1}"></span>
							<span data-th-text="${login.captcha.operation}"></span>
							<span data-th-text="${login.captcha.num2}"></span>
						?</td>
					</tr>
					<!-- <tr data-th-object="${login.captcha}"> -->
					<tr>
						<td>
							<label for="answer">Answer:</label>
						</td>
						<td>
							<input type="text" id="answer" size="30" data-th-field="${login.captcha.answer}">
						</td>
					</tr>
				</div>
				<tr>
					<td></td>
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
		
	</body>
</html>
